apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ CA_DATA.stdout }}
    server: https://{{ kubeconfigs.kubelet.cert_https_endpoint }}:6443
  name: {{ k8s_clustername }}
contexts:
- context:
    cluster: {{ k8s_clustername }}
    user: {{ kubeconfigs.kubelet.user }}
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: {{ kubeconfigs.kubelet.user }}
  user:
    client-certificate-data: {{ item.stdout }}
    client-key-data: {{ kubeconfigs.kubelet.key_data }}
