apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ CA_DATA.stdout }}
    server: https://{{ kubeconfigs[item.item | replace('-','_')].cert_https_endpoint }}:6443
  name: {{ k8s_clustername }}
contexts:
- context:
    cluster: {{ k8s_clustername }}
    user: {{ kubeconfigs[item.item | replace('-','_')].user }}
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: {{ kubeconfigs[item.item | replace('-','_')].user }}
  user:
    client-certificate-data: {{ item.stdout }}
    client-key-data: {{ kubeconfigs[item.item | replace('-','_')].key_data }}
