{
  "CN": "{{ item.value.cn }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "US",
      "L": "Portland",
      "O": "{{ item.value.cn }}",
      "OU": "{{ item.value.ou }}",
      "ST": "Oregon"
    }
  ]
}